Importe das bibliotecas necessárias

In [1]:
import pandas as pd
import numpy as np


Lê o arquivo CSV

In [ ]:
# df = pd.read_csv('rider_app_analytics-0.csv')
# df

In [ ]:
df = pd.read_csv('trips_data-0.csv')
df

In [ ]:
frequencia_produto = df['status'].value_counts()
print(frequencia_produto)

In [ ]:
df_essencial = df.drop(columns=['begintrip_lat', 'begintrip_lng', 'begintrip_address','dropoff_lat', 'dropoff_lng', 'dropoff_address'])
df_essencial

,city,product_type,status,request_time,begin_trip_time,dropoff_time,distance,fare_currency,fare_amount
0,Sao Paulo,uberx,completed,2025-05-30T19:17:24.000Z,2025-05-30T19:20:36.000Z,2025-05-30T19:43:57.000Z,4.12,Brazilian Real,18.92
1,Sao Paulo,uberx,completed,2025-05-29T09:46:45.000Z,2025-05-29T09:54:14.000Z,2025-05-29T10:13:57.000Z,4.90,Brazilian Real,44.92
2,Sao Paulo,uberx,completed,2025-05-29T00:20:55.000Z,2025-05-29T00:25:41.000Z,2025-05-29T00:32:24.000Z,1.77,Brazilian Real,11.99
3,Sao Paulo,uberx,completed,2025-05-28T20:32:14.000Z,2025-05-28T20:35:39.000Z,2025-05-28T20:44:33.000Z,1.84,Brazilian Real,13.92
4,Sao Paulo,uberx,completed,2025-05-28T00:02:20.000Z,2025-05-28T00:05:28.000Z,2025-05-28T00:13:15.000Z,1.76,Brazilian Real,11.93
...,...,...,...,...,...,...,...,...,...
976,Sao Paulo,uberx,completed,2017-04-01T00:29:40.000Z,2017-04-01T00:31:35.000Z,2017-04-01T00:39:02.000Z,1.11,Brazilian Real,7.92
977,Sao Paulo,uberx,completed,2017-03-18T22:53:12.000Z,2017-03-18T22:59:44.000Z,2017-03-18T23:11:13.000Z,2.46,Brazilian Real,11.40
978,Sao Paulo,uberx,completed,2017-03-18T20:22:21.000Z,2017-03-18T20:26:51.000Z,2017-03-18T20:40:06.000Z,2.57,Brazilian Real,12.03
979,Sao Paulo,uberx,completed,2016-12-08T16:02:42.000Z,2016-12-08T16:07:43.000Z,2016-12-08T16:26:07.000Z,3.89,Brazilian Real,16.89
980,Sao Paulo,uberx,completed,2016-11-29T08:47:03.000Z,2016-11-29T08:50:44.000Z,2016-11-29T08:57:13.000Z,1.19,Brazilian Real,7.15

In [49]:
frequencia_status = df_essencial['status'].value_counts()
print(frequencia_status)

frequencia_cidade = df_essencial['city'].value_counts()
print(frequencia_cidade)

status
completed          831
rider_canceled     110
unfulfilled         32
driver_canceled      8
Name: count, dtype: int64
city
Sao Paulo        968
Aracaju            6
Santos             5
Florianopolis      2
Name: count, dtype: int64

In [50]:
df_essencial.to_excel('./final.xlsx', index=False)